*{
    box-sizing: border-box;
}

body{
  
        // background-image: url(img/dragon-scales.svg);
        &::before{
            display:block;
            content:"";
            height:90px;
        }
  
}


/*! --------------- 1- NAVBAR ------------------ */
nav{
    .nav-link{
        color:black;
        font-weight: 700;
    }

    .navbar-toggler-icon{
        color:black;

    }
}


/*! --------------- 2- CAROUSEL ---------------- */

/*! --------------- 3- ABOUT SECTION ----------- */

/*! ------------ 4- STUDENTS SECTION ----------- */

/*! ------------ 5- COURSES SECTION ------------- */

/*! ------------ 6- CONTACT SECTION ------------ */

/*! ---------------- 7- FOOTER --------------- */


@media (max-width:992px) {
    body{
  
        // background-image: url(img/dragon-scales.svg);
        &::before{
            display:block;
            content:"";
            height:250px;
        }
  
}


}